.gradient-custom{
    background: rgb(176,20,20);
    background: linear-gradient(0deg, rgba(176,20,20,1) 0%, rgba(0,0,0,1) 100%);
}

#logbox{
    background-color: rgba(0, 0, 0, 0.562);
}

#typeEmailX, #typePasswordX{
    background-color: black;
    border-color: rgb(139, 135, 135);
    color: white;
}